:root{
    --background-color-main: #5243F4;
    --text-color-main: #fff;
    --text-color-alt: #5243F4;
    --text-color-alt2: #5D3427;
}
*{
    margin:0;
    padding:0;
}
/*
@font-face{
    font-family: 'Steppe-Book';
    src: url('../fonts/Steppe-Book.ttf');
}
@font-face{
    font-family: 'Steppe-ExtraBold';
    src: url('../fonts/Steppe-ExtraBold.ttf');
}
*/
body{
    background-color: var(--background-color-main);
    font-family: 'Steppe-Book', sans-serif;
    color:var(--text-color-main);
}

.container{
    max-width: 1200px;
    margin: 0 auto;

}

.button{
    box-sizing: border-box;
    border: none;
    width: 178px;
    height: 58px;
    border-radius: 60px;
    font-size: 18px;
    padding: 18px;
    font-family: 'Steppe-Book', sans-serif;
    text-align: center;
    outline: none;
    cursor: pointer;
    background-color: var(--text-color-main);
    color: var(--text-color-alt);
}

.header{
    padding: 40px 0;
}

.header .container{
    display: flex;
    align-items: center;
}

.logo img{
    vertical-align: bottom;
}

.menu{
    margin-left: 250px;
}

.menu-list{
    list-style: none;
    display: flex;
    gap:50px;
}

.menu-item a{
    display: inline-block;
    font-size: 16px;
    line-height: 130%;
    text-decoration: none;
    cursor: pointer;
    color: var(--text-color-main);
    transition: transform 0.3s ease;
    will-change: transform;
}
.menu-item a:hover{
    transform: scale(1.2);
}
/*
.menu-item a:hover{
    border-bottom: 2px solid var(--text-color-main);

}*/

.main-content{
    padding-top:161px;
    padding-bottom: 200px;
}

.main-info{
    max-width: 811px;
}
.main-title{
    font-family: 'Steppe-Extrabold', sans-serif;
    font-size: 90px;
    line-height: 100%;
    margin-bottom: 20px;
}
.main-text{
    max-width: 700px;
    font-size: 18px;
    line-height: 130%;
    margin-bottom: 40px;
}
.main-action .button{
    transition: transform 0.5s ease;
    will-change: transform;
}

.main-action .button:hover{
    transform: scale(1.1);
}

.main-image{
    position: absolute;
    top: 0;
    right:0;
    z-index: -1;
}

.products{
    padding:100px 0;
}
.common-title{
    font-family: 'Steppe-Extrabold', sans-serif;
    font-size: 60px;
    line-height: 100%;
    width: 575px;
    height:60px;
    text-align: center;
    margin: 0 auto;
}
.products-items{
    display: grid;
    margin:100px auto;
    grid-template-columns: repeat(3, 384px);
    grid-template-rows: repeat(2, 550px);
    grid-column-gap: 24px;
    grid-row-gap: 20px;
}
.products-item{
    padding:24px;
    background: linear-gradient(
            to bottom,
            var(--background-color-main) 0px,
            var(--background-color-main) 70px,
            var(--text-color-main) 70px,
            var(--text-color-main) 550px
    );
}
.products-item-image{
    margin-left:-24px;
    margin-top:-24px;
}
.products-item-details{
    display: flex;
    flex-direction: column;
    gap:20px;
}
.products-item-title{
    font-family: 'Steppe-Extrabold', sans-serif;
    font-size: 18px;
    color: var(--text-color-alt2);
}
.product-item-text{
    font-size: 14px;
    line-height: 120%;
    width: 336px;
    height: 110px;
    color: var(--text-color-alt2);
}
.products-item-extra{
    display: flex;
}
.products-item-info{
    display:inline-block;
    width:84px;
    height:55px;
    gap:10px;
}
.products-item-price{
    font-family: 'Steppe-Extrabold', sans-serif;
    font-size: 24px;
    color: var(--text-color-alt);
}
.products-item-weight{
    font-size: 12px;
    color: var(--text-color-alt2);
}
.violet-button{
    background-color: var(--text-color-alt);
    color: var(--text-color-main);
    margin-left: 72px;
    transition: transform 0.5s ease;
    will-change: transform;
}
.violet-button:hover{
    transform: scale(1.1);
}